<!Doctype Html>
<html>
    <head>
        <title>Login</title>
             <script language="javascript" type="text/javascript" src="/function_1.js"></script>
    
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href= "/signup.css">
  </head>


<body style="background: #000000;">
    <div id="parent" style="width:100%; heigh:100%;" align="center">
        <h2 style="text-align: center;">Login</h2>
    <div id="child"  style="display:inline-block; padding: 10px;border: 1px solid #A9A9A9; border-radius: 25px;">
        <br>
        <form action="/login" onsubmit="return check(0)" method="POST">
            
            <input type="text" name="username" id="user" class="signuprod" placeholder="username" ><br><br>
            <input type="password" name="password" id="pass" class="signuprod" placeholder="password" ><br><br>
            <input type="SUBMIT" style="border-radius: 25px; background:#000000" class= "signupprod" >
            
        </form>
        <br>
    </div>
    </div>
    
    <!--<div style=" height: auto; padding : 10px;text-alignn: center;border: 1px solid #000000; border-radius: 25px;">-->
    <!--    <input type="text" placeholder="Enter your full name">-->
    <!--    <input type="text" placeholder="Enter your full name">-->
    <!--    <input type="text" placeholder="Enter your full name">-->
    <!--    <input type="text" placeholder="Enter your full name">-->
    <!--</div>-->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>