<html>
    <head>
        <title>Results</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href= "/mainpage.css">
    
        <script language="javascript" type="text/javascript" src="/function_1.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body style="background: #000000">
        <div style="text-align:center;">
    <div class="scrollmenu1" style="display:inline-block;" onmouseover="overflw(1)" onmouseout="overflw(0)" id="menu">
    <% data.forEach(function(show){%>
        <div style="display: inline-block;">
        <h5 style=" color:#ffffff;text-align:center; margin-top: 50px;">(<%=show["name"]%>)</h5>
        <form action="/tvshow" method="POST" >
          <input type="text" style="visibility: hidden;"  value="<%=show["id"]%>" name="tvid">
        <div style="display: block"  >
        <input type="image" src="<%=show["image_thumbnail_path"]%>" style="height:180px; width:130px;" value= onClick="this.form.submit()" >
        </form>
        </div>
        <div style="display: block; text-align: center;">
          <form action="/favorite" method="POST">
          <input type="text" style="visibility: Hidden;"  value="<%=show["id"]+"#"+show["name"]+"#"+show["image_thumbnail_path"]%>" name="favorite">
          <button style="background: #000000; display: block;margin-left: auto;margin-right: auto; border-radius: 20px;" onClick="this.form.submit()">Add as favorites</button>
          </form>
        </div>
        </div>
    <% }) %>
    </div>
    </div>
    </body>
</html>